$light-blue: #E4E9EF;
$blue: #2365E8;
$dark-blue: #15162A;
$light-gray : #F8F8F8;
$light-gray-300 : #dee2e6;
$content-gray : #53585E;
$white: #fff;
$black: #000;
$body-bg: $light-gray;
$content-font-size: rem(20px);
$smallest-font-size: rem(13px);

// Bootstrap Vars
$font-family-base: 'Mulish', sans-serif;
$font-weight-light: 200;
$font-weight-bolder: 800;
$font-weight-bold: 700;
$font-weight-medium: 500;

$btn-font-weight: $font-weight-bold;
