$lendo-light-blue: #E4E9EF;
$lendo-blue: #2365E8;
$lendo-dark-blue: #15162A;
$lendo-light-gray : #F8F8F8;
$lendo-light-gray-300 : #dee2e6;
$content-gray : #53585E;
$white: #fff;
$black: #000;
$body-bg: $lendo-light-gray;
$content-font-size: rem(20px);
$smallest-font-size: rem(13px);

// Bootstrap Vars
$font-family-base: 'Mulish', sans-serif;
$font-weight-light: 200;
$font-weight-bolder: 800;
$font-weight-bold: 700;
$font-weight-medium: 500;
// $nav-tabs-border-radius: 0;
// $nav-link-padding-y: rem(20px);
// $nav-link-padding-x: rem(30px);
// $nav-link-font-size: rem(22px);
// $nav-link-color: $white;
// $nav-link-hover-color: $lendo-light-gray-300;
// $nav-tabs-border-width: 0;
// $accordion-border-width: 0;
// $accordion-border-bottom-width: 1px;
// $accordion-icon-color: $lendo-blue;
// $accordion-button-active-bg: transparent;
// $accordion-button-active-color: $content-gray;
// $accordion-padding-y: rem(30px);
// $accordion-padding-x: rem(30px);
// $accordion-button-padding-x: 0;
// $accordion-button-focus-border-color: none;
// $accordion-button-focus-box-shadow: none;
// $btn-padding-y: rem(15px);
// $btn-padding-x: rem(35px);
// $btn-padding-y-lg: rem(15px);
// $btn-padding-x-lg: rem(35px);
$btn-font-weight: $font-weight-bold;
